<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>footer</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </h:head>
    <body>
        <p:panel>
            <!--<p style="margin-top: 0.1px; margin-bottom: 0.1px; font-size: large; text-align: center; font-family: Segoe UI Semibold">Matrix Revolutions</p>-->
            <p style="margin-top: 0.1px; margin-bottom: 0.1px; font-size: smaller; text-align: center; font-family: MS Reference Sans Serif">© Engenharia de Software - Universidade do Estado de Santa Catarina</p>
        </p:panel>
    </body>
</html>
