<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>header</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <p:panel>
            <!--<p style="margin-top: 0.1px; margin-bottom: 0.1px; font-size: large; text-align: center; font-family: Segoe UI Semibold">Matrix Revolutions</p>-->
            <p style="margin-top: 0.1px; margin-bottom: 0.1px; font-size: smaller; text-align: center; font-family: MS Reference Sans Serif">melhorlugar.com</p>
        </p:panel>
    </body>
</html>
