<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Melhor Lugar</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    </h:head>
    <h:body style="background: url(img/bg22.jpg) no-repeat center center fixed;   background-size: cover;"> 
        <div id="header" style="position: fixed; top: 0; width: 100%;">
            <ui:insert name="header">  
                <ui:include src="header.xhtml"/>  
            </ui:insert>
        </div>
        <div id="footer" style="position: fixed; bottom: 0; width: 100%;">
            <ui:insert name="footer">  
                <ui:include src="footer.xhtml"/>  
            </ui:insert>
        </div>
    </h:body>
</html>






