<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Melhor Lugar</title>
        <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon"/>
    </h:head>
    <!--style="background: url(img/bg22.jpg) no-repeat center center fixed;   background-size: cover;"-->
    <h:body style="background: #ccffff"> 
        <div id="pesquisa" align="center" style=" position: fixed; left:50%; top:35%; margin-left:-179px; margin-top:-112px;">            
            <img src="img/logo.png" alt=""/>
            <h:form>
                <p:inputText/>
                <p:commandButton value="Pesquisar"/>
            </h:form>
        </div>
        <div id="footer" style="position: fixed; bottom: 0; width: 100%;">
            <ui:insert name="footer">  
                <ui:include src="footer.xhtml"/>  
            </ui:insert>
        </div>
    </h:body>
</html>






